node_modules
.venv
.git
.vscode
.env
.env.example
*.md
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
analyse.png
Normal.jpg
